@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}

#img {
  height: 100%;
}

#construccion {
  color: #3c3d3c;
  text-align: center;
  font-style: normal;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.cheap+div {
  visibility: hidden;
}

footer {
  clear: both;
  background-color: #3c3d3c;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

@media only screen and (max-width: 1100px) {
  #img {
    height: auto;
  }
}